/*******************************************
git clone https://Michelin896@bitbucket.org/Michelin896/trabajo_css.git
*******************************************/


body{
    margin: 0;
    text-align: center;
    font-family: Dancing Script;
    background-color: black;
}
#T_Contenido{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}
header {
   
    border-radius: 10px 10px 0 0;
	background-color: #5b7989;
    padding: 2rem 0;
    color: white;
}
header h1{    
    text-shadow: 0px 2px 0 #02010a;
    margin: 0 0 0 20px; 
}
header a{
    color: white;
    text-decoration: none;
    
}
.contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu {
    margin: 1rem;
    padding: 0;
    list-style: none;
}
.menu ul{
    margin: 0;
    padding: 0;
    
}
.menu li{
    
    /*font-weight: bold;*/
    font-size: 120%;
    margin: 0 auto;
    padding: 1rem 1rem;
    display: inline-block;
    transition: all 0.4s linear;
    border-radius: 5px;
}
.menu li:hover{
    background: #4a4a4a;
}

/*****************************************************/
#contenido{
    background-color: #82c3a6;
    height: 300px;
}

#contenido div {
    align-content: center;
}
#contenido div img{
    margin: 10px 10px 10px 10px;
    width: 90%;
    max-width: 500px;
    height: 270px;
    box-shadow: 3px 3px 3px #02010a;
}
#contenido2 {
    background-color: #d5c75f;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 350px;
}
#contenido2 div img{
    box-shadow: 3px 3px 3px #02010a;
    margin: 40px 20px 0px 20px;
    width: 400px;
    height: 250px;
    border: 1px solid #82c3a6;
}
#contenido2 div h2{
    text-decoration: underline;
    font-weight: bold;  
}
#imagen2{
    transition: transform, 1s;
}
#imagen2:hover{
    transform: rotate(10grad)
}
#imagen3{
    transition: transform, 1s;
}
#imagen3:hover{
    transform: translate(20px,-5px)
}

#P_contenido{
    background-color: #d5c75f;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 200px;   
}
#P_contenido div img{
    box-shadow: 3px 3px 3px #02010a;
    margin: 30px 5px 0px 5px;
    width: 90%;
    height: 75%;
    border: 1px solid Black;
}
#P_contenido2{
    background-color: #d5c75f;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 200px;   
}
#P_contenido2 div img{
    box-shadow: 3px 3px 3px #02010a;
    margin: 5px 5px 0px 5px;
    width: 90%;
    height: 75%;
    border: 1px solid Black;
}
#P_imagen1{
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -webkit-filter: blur(10px);
    filter: blur(10px);
}
#P_imagen2{
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
#P_imagen3{
    -moz-filter: sepia(90%);
    -o-filter: sepia(90%);
    -webkit-filter: sepia(90%);
    filter: sepia(90%);
}
#P_imagen4{
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

#P_imagen6{
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

#R_contenido{
    background-color: #d5c75f;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 200px;   
}
#R_contenido div img{
    box-shadow: 3px 3px 3px #02010a;
    margin: 30px 5px 0px 5px;
    width: 90%;
    height: 75%;
    border: 1px solid Black;
}
#R_contenido2{
    background-color: #d5c75f;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 200px;   
}
#R_contenido2 div img{
    box-shadow: 3px 3px 3px #02010a;
    margin: 5px 5px 0px 5px;
    width: 90%;
    height: 75%;
    border: 1px solid Black;
}
#R_imagen1{
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -webkit-filter: blur(10px);
    filter: blur(10px);
}
#R_imagen2{
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
#R_imagen3{
    -moz-filter: sepia(90%);
    -o-filter: sepia(90%);
    -webkit-filter: sepia(90%);
    filter: sepia(90%);
}
#R_imagen4{
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

#R_imagen6{
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

/*****************************************************/

#pie{
    border-radius: 0 0 10px 10px;
    display: flex;
    background-color: #C6d5c5;
}
.pie3 p{
    height: 10px;
}
.pie1 p{
    height: 10px;
}
div[class^='pie']{
    height: 200px;
    width: 400px;
}
img[id^='redes']{
    height: 30px;
    width: 30px;  
}
div[id^='red']{    
    display: flex;
    height: 30px;
    justify-content: center;
    align-items: center;
}
a[id^='link']{
    text-decoration: none;
    list-style: none;
    color: black;
}
/*********************************************************
Para Mobiles
*********************************************************/
@media(max-width: 420px){
   
    #T_Contenido{   
        max-width: 100%;
        margin: 0 auto;
    }
    header h1{        
        margin: 0 0 0 0px; 
    }
    .contenedor {
        flex-direction: column;
    }
    

    /*****************************************************/
    #contenido{
        background-color: #82c3a6;
        height: 200px;
    }

    #contenido div {
        align-content: center;
    }
    #contenido div img{
        margin: 20px 0px 0px 0px;
        width: 90%;
        height: 70%;
        box-shadow: 3px 3px 3px #02010a;
    }
    #contenido2 {
        background-color: #d5c75f;
        flex-direction: column;
        height: 420px;
    }
    #contenido2 div img{
        box-shadow: 3px 3px 3px #02010a;
        margin: 0px 0px 0px 0px;
        width: 90%;
        height: 75%;
        border: 1px solid #82c3a6;
    }
    #contenido2 div h2{
        text-decoration: underline;
        font-weight: bold;  
    }
    .Bloque1{
		order: 1;
	}
	.Bloque2{
		height: 200px;
		order: 2;
	}
	.Bloque3{
        margin: 10px 0px 0px 0px;
		height: 200px;
		order: 3;
	}
    #P_contenido{
        flex-direction: column;
        height: 600px;   
    }
    #P_contenido div img{
        margin: 5px 0px 0px 0px;
    }
    #P_contenido2{
        flex-direction: column;
        height: 600px;   
    }
    #P_contenido2 div img{
        margin: 5px 0px 0px 0px;
    }
    .P_Bloque1{
        margin: 10px 0px 0px 0px;
        height: 200px;
		order: 1;
	}
	.P_Bloque2{
		height: 200px;
		order: 2;
	}
	.P_Bloque3{
		height: 200px;
		order: 3;
	}
    .P_Bloque4{
		height: 200px;
		order: 4;
	}
    .P_Bloque5{
		height: 200px;
		order: 5;
	}
    .P_Bloque6{
		height: 200px;
		order: 6;
	}

    #R_contenido{
        flex-direction: column;
        height: 600px;   
    }
    #R_contenido div img{
        margin: 5px 0px 0px 0px;
    }
    #R_contenido2{
        flex-direction: column;
        height: 600px;   
    }
    #R_contenido2 div img{
        margin: 5px 0px 0px 0px;
    }
    .R_Bloque1{
        margin: 10px 0px 0px 0px;
        height: 200px;
		order: 1;
	}
	.R_Bloque2{
		height: 200px;
		order: 2;
	}
	.R_Bloque3{
		height: 200px;
		order: 3;
	}
    .R_Bloque4{
		height: 200px;
		order: 4;
	}
    .R_Bloque5{
		height: 200px;
		order: 5;
	}
    .R_Bloque6{
		height: 200px;
		order: 6;
	}

    /*****************************************************/
    #pie{
        flex-direction: column;
        background-color: #C6d5c5;
    }
    .pie3 p{
        height: 10px;
    }
    .pie1 p{
        height: 10px;
    }
    div[class^='pie']{
        height: 60%;
        width: 90%;
    }
    img[id^='redes']{
        height: 30px;
        width: 30px;  
    }
    div[id^='red']{    
        display: flex;
        height: 30px;
        justify-content: center;
        align-items: center;
    }
    a[id^='link']{
        text-decoration: none;
        list-style: none;
        color: black;
    }
} 
